.mainContainer {
  width: 94%;
  height: 94%;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}
.headerImage {
  max-width: 1400px;
  height: auto;
  border-radius: 10px;
}
.contact {
  width: 70%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.contactBtn {
  width: 200px;
  height: 40px;
  border-radius: 7px;
  color: white;
  background-color: rgb(4, 73, 157);
  border-color: rgb(4, 73, 157);
  border-style: solid;
  border-width: 2px;
  margin-left: 5px;
}
.contactBtn:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
  color: white;
  background-color: rgb(37, 119, 218);
  border-color: rgb(4, 73, 157);
  border-style: solid;
  border-width: 2px;
  margin-left: 5px;
}
.contactNmb {
  font-size: 22px;
  text-decoration: underline;
  color: rgb(4, 73, 157);
}
.sectionOne {
  width: 60%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
  background-color: aliceblue;
  border-radius: 20px;
  border-color: rgb(202, 197, 197);
  border-style: solid;
  border-width: 1px;
}
.sectionOneCover {
  width: 65%;
  height: 100px;
  background: linear-gradient(rgba(240, 248, 255, 0.5), rgba(240, 248, 255, 1));
  margin-top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productOneBtn {
  width: 250px;
  height: 50px;
  font-family: "Lato";
  font-size: 18px;
  color: white;
  border-top: solid 5px rgb(169, 195, 225);
  background-image: linear-gradient(to right, rgb(55, 4, 157), rgb(4, 73, 157));
  border-bottom-left-radius: 50px;
}
.productOneBtn:hover {
  cursor: pointer;
  background-image: none;
  background-color: rgb(8, 44, 89);
}
.productTwoBtn {
  width: 250px;
  height: 50px;
  font-family: "Lato";
  font-size: 18px;
  color: white;
  border-top: solid 5px rgb(169, 195, 225);
  background-color: rgb(4, 73, 157);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.productTwoBtn:hover {
  cursor: pointer;
  background-image: none;
  background-color: rgb(8, 44, 89);
}
.productThreeBtn {
  width: 250px;
  height: 50px;
  font-family: "Lato";
  font-size: 18px;
  color: white;
  border-top: solid 5px rgb(169, 195, 225);
  background-image: linear-gradient(
    to right,
    rgb(4, 73, 157),
    rgb(101, 4, 157)
  );
  border-top-right-radius: 50px;
}
.productThreeBtn:hover {
  cursor: pointer;
  background-image: none;
  background-color: rgb(8, 44, 89);
}

.sectionOneTop {
  width: 100%;
  height: 100px;
  text-align: center;
}

.sectionOneBottom {
  width: 80%;
  height: 100%;
  font-size: 20px;
}

.sectionTwo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 400px;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 20px;
}
.cardImage2 {
  width: 700px;
  height: 325px;
  border-radius: 20px;
  filter: brightness(0.5);
}

.term {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: initial;
}
.returnPremium {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finalExpense {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.productTitle {
  width: 700px;
  text-align: center;
  position: absolute;
  color: white;
  font-family: "Lato";
  font-size: 50px;
}

.productText {
  font-size: 20px;
  line-height: 24px;
  width: 60%;
}

.smallCardContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #5c7c89;
  border-radius: 20px;
}
.smallCard {
  width: 325px;
  height: 240px;
  margin: 20px;
  border: solid 1px lightblue;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}
.smallCardTitle {
  font-size: 22px;
  font-family: "Lato";
  color: rgb(8, 44, 89);
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallCardText {
  font-size: 18px;
  color: rgb(74, 73, 73);
}

.contactUsFooter {
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 2px gray;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 20px;
  font-size: 24px;
  color: white;
  text-decoration: none;
  background-color: rgb(8, 44, 89);
}

.contactUsFooter:hover {
  background-color: rgb(5, 86, 184);
}
