.mainContainer {
  display: flex;
  justify-content: center;
  background-color: aliceblue;
  padding: 3%;
}
.leftContainer {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 4%;
  padding-right: 4%;
}
.lionGuard {
  position: relative;
  width: 400px;
  background-color: aliceblue;
  margin-bottom: -15px;
  text-align: center;
  z-index: 1;
}
.bodyContainer {
  position: relative;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  border-width: 1px;
  padding-left: 1%;
  padding-right: 1%;
  z-index: 0;
}

.rightContainer {
  width: 45%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.image {
  max-width: 93%;
  height: auto;
  border-radius: 15px;
}

.title {
  font-family: "Lato";
  font-size: clamp(1.5rem, 2vw + 0.1rem, 2rem);
}
.paragraph {
  font-size: clamp(1rem, 2vw + 0.1rem, 1.4rem);
}
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  height: 300px;
  margin: 10px;
  color: rgb(57, 57, 57);
  display: Flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  font-family: "Lato";
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(90, 151, 226);
  border-width: 1px;
  z-index: 0;
}
.cardGradient {
  background-image: linear-gradient(
    to right,
    rgb(15, 51, 95),
    rgb(126, 176, 247)
  );
  height: 15px;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  z-index: 1;
}
.cardTitle {
  font-size: 30px;
  line-height: 16px;
}
.cardText {
  font-size: 18px;
  line-height: 21px;
  padding-left: 5%;
  padding-right: 5%;
}
