.mainContainer {
  width: 100%;
  height: 80px;
}

.headerLogo {
  max-width: 50px;
  min-width: 40px;
  height: auto;
  background-color: rgb(4, 73, 157);
  border-color: rgb(31, 99, 183);
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
}

.leftContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .leftContainer {
    width: 30%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.logoLink {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: clamp(0.6rem, 1vw + 0.6rem, 1.875rem);
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.middleContainer {
  width: 50%;
  height: inherit;
  display: flex;
}

@media only screen and (max-width: 900px) {
  .middleContainer {
    display: none;
  }
}

.middleContainerBreakpoint {
  display: none;
}
@media only screen and (max-width: 900px) {
  .middleContainerBreakpoint {
    width: 40%;
    height: inherit;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .middleContainerBreakpoint:hover {
    cursor: pointer;
  }
}

.dropMenu {
  width: 300px;
  height: 500px;
  justify-content: center;
  position: fixed;
}

.menuFont {
  height: inherit;
  color: white;
  display: flex;
  align-items: center;
  background-image: none;
  font-size: clamp(0.5rem, 1vw + 0.5rem, 1.125rem);
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
}
.menuFont:hover {
  height: inherit;
  background-color: rgb(4, 73, 157);
  display: flex;
  align-items: center;
  background-image: none;
  font-size: 18px;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .menuFont {
    height: inherit;
    color: white;
    display: flex;
    align-items: center;
    background-image: none;
    font-size: clamp(0.5rem, 1.5vw + 0.5rem, 1.125rem);
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
  }
}

.dropMenuFont {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContainer {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .rightContainer {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bookAppBtn {
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, #111111, #222222, #111111);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  color: white;
  text-decoration: none;
  font-size: clamp(0.8rem, 2vw + 0.1rem, 1rem);
  border-radius: 25px;
}
.bookAppBtn:hover {
  cursor: pointer;
  border-color: rgb(50, 129, 226);
  border-style: solid;
  border-width: 2px;
  background-color: rgb(7, 96, 205);
  background-image: none;
  color: white;
}

.a {
  text-decoration: none;
}

.socialsContainer {
  height: 80px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialsMenu {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  .socialsContainer {
    display: none;
  }
}

.li {
  padding: 10px 20px;
  cursor: pointer;
}
