.navbar {
  width: 100vw;
  height: 80px;

  background-color: rgb(5, 86, 184);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
}
.navbar.scrolled {
  background-color: rgb(3, 47, 100);
}

.MuiMenu-paper {
  background-color: blue;
}
