.mainContainer {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: aliceblue;
}
.imageContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 129, 227);
  filter: brightness(0.95);
}

.image {
  width: 90%;
  height: auto;
  object-fit: contain;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imageTextContainer {
  width: 30%;
  border-radius: 10px;
  height: auto;
  position: absolute;
  left: 5%;
  top: 45%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-bottom: 10px;
  color: white;
}

@media only screen and (max-width: 900px) {
  .imageTextContainer {
    width: 85%;
    height: 125px;
    top: 100%;
    border: solid 1px gray;
    background-color: rgb(50, 129, 227);
  }
}

.title {
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(1.1rem, 2vw + 0.1rem, 3rem);
  font-weight: 400;
  font-style: normal;
}

.text {
  width: 80%;
  font-family: "Lato";
  font-size: clamp(0.7rem, 2vw + 0.1rem, 1.5rem);
}

.espanolbtn {
  max-width: 200px;
  height: 30px;
  margin-top: 10px;
  font-family: "Lato";
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: white;
  border-style: solid;
  border-radius: 10px;
}

.productContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -100px;
}
@media only screen and (max-width: 1440px) {
  .productContainer {
    margin-top: -35px;
  }
}
@media only screen and (max-width: 900px) {
  .productContainer {
    margin-top: 100px;
  }
}

.link {
  width: 350px;
  max-height: 700px;
  border-radius: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0.5%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  z-index: 1;
  color: #555555;
  border: solid 1px gray;
}
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  font-family: "Lato";
  line-height: 30px;
}
.productTitle {
  font-size: 24px;
}

.colorPicker {
  background-color: rgb(128, 255, 137);
  background-image: linear-gradient(to right, #555555, #ffffff);
}
.learnBtn {
  color: rgb(50, 129, 227);
  text-decoration: underline;
  text-decoration-color: rgb(50, 129, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactUsDiv {
  height: 300px;
  margin-top: -50px;
  background-color: rgb(50, 129, 227);
  display: flex;
  justify-content: center;
  align-items: center;
}
