.mainContainer {
  width: 90%;
  height: 90%;
  padding: 5%;
  display: flex;
  background-color: aliceblue;
}
.title {
  font-size: 48px;
  font-family: "Lato";
}
.text {
  font-size: 20px;
}

.leftContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 700px) {
  .leftContainer {
    width: 100%;
  }
}
.rightContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
}
@media only screen and (max-width: 700px) {
  .rightContainer {
    display: none;
  }
}

.image {
  width: 80%;
  height: auto;
  border-radius: 20px;
}
.header {
  padding: 3%;
  margin-bottom: 50px;
}
